doctype html
html(lang="en")
	head
		title Device monitoring and QoS
		meta(name='fragment', content='!')
		
		
		script(data-main='./js/bootLaunch.js', type='text/javascript', src='./js/libs/require-min.js')
	body
		div#contentR

