<div>
<table>

<% data.forEach(function(record){  %>
  <tr>
    <th>Device Name: <%= record.name %> </th>
    <th>Device Type: <%= record.type %> </th>
    <th><button class="displayDeviceForProperties" id="<%= record.id %>" >Click</button></th>
    <!-- should be deviceId-->
    
  </tr>
  
<% }) %>
</table>


</div>
<div class="container content-area">
      <div class="row">
        <div class="col-lg-6 PropertiesPanel" >
        </div>    

        <div class="col-lg-6 area2" > 
          Input minimum radius
        </div>    
        </div>
      </div>  


