
<link type="text/css" href="js/libs/bootstrap/css/bootstrap.css">

<link href="css/iot.css" rel="stylesheet" type="text/css">

    <div class="float-container">
      <div class="float-child">
        <h3>Motion sensors</h3>
        <table>

        <% data.forEach(function(record){  %>
        <% if (record.type == "Motion-senser") { %>
          <tr>
            <th>Device Id: <%= record.user_id %> </th>
            <th>Device Name: <%= record.name %> </th>
            <th><button class='displayMSPanel' id="<%= record.user_id %>">Click</button></th>
          </tr>
          
        <% } %>
        <% }) %>
        </table>


        <h3>GPS</h3>

        <table>


        <% data.forEach(function(record){  %>
        <% if (record.type == "GPS") { %>
          <tr>
            <th>Device Id: <%= record.user_id %> </th>
            <th>Device Name: <%= record.name %> </th>
            <th><button class='displayGPSPanel' id="<%= record.user_id %>">Click</button></th>
          </tr>
          
        <% } %>
        <% }) %>
        </table>

        <h3>Phones</h3>
        <table>
        <% data.forEach(function(record){  %>
        <% if (record.type == "phone") { %>
          <tr>
            <th>Device Id: <%= record.user_id %> </th>
            <th>Device Name: <%= record.name %> </th>
            <th><button class='displayGPSPanel' id="<%= record.user_id %>">Click</button></th>
          </tr>
          
        <% } %>
        <% }) %>

        </table>
      </div>

      <div class="float-child" >
        <div class="GPSPanel"></div>
      </div>    

        
</div>


